.container{
  margin :1rem;
}


nav{
  color: white;
  background: black;
  display: flex;
  justify-content: space-around;
}

ul a{
  padding: 1rem;
  color: white;
  text-decoration: none;
}

body{
  background-color: yellowgreen;
}

footer{
  text-align: center;
  padding: 1rem;
  background: black;
  color: white;
}